.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.Input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);
  &:focus {
    outline: none;
  }
}


.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  height: 3px;
  width: 9px;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  position: absolute;
  animation: ease-in 1s blink infinite;
}


@keyframes blink {
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }

}
